.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button, input {
    height: 25px;
    margin: 0 10px 0 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.cards img {
    height: 200px;
}

#inGame {
   display: none;
}
