main {
    margin-top: 100px;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}

.articles > div {
    border: 1px solid #dedede;
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
